.textSubBase {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 0.75em;
    line-height: normal;
    letter-spacing: 0%;
    margin-bottom: 0;
}

.textBase {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 150%;
    letter-spacing: 0%;
}

.textH3 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 1em;
    line-height: normal;
    letter-spacing: 0%;
    margin-bottom: 0;
}

.textH2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 1.25em;
    line-height: normal;
    letter-spacing: 0%;
    margin-bottom: 0;
}

.underlinedPink {
    text-decoration: underline;
}

.underlinedGreen {
    text-decoration: underline;
}

.underlinedGrey {
    text-decoration: underline;
}

.underlinedPink:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #D480AA;
}

.underlinedGreen:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #2CBC8A;
}

.underlinedGrey:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #858585;
}