.blogHeader {
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 48px;
}

.header {
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 48px;
}

.logo {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navigator {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.headerNav {
    cursor: pointer;
}

.headerNav:hover {
    text-decoration: underline;
}

.footerNav {
    cursor: pointer;
}

.footerNav:hover {
    text-decoration: underline;
    text-decoration-color: #858585;
    color: #858585;
}