.markdown {

}

.markdown h1 {
    font-size: 1.25em;
    margin-top: 56px;
}

.markdown h2 {
    font-size: 1.25em;
    margin-top: 48px;
}

.markdown hr {
    margin-top: 48px;
    margin-bottom: 48px;
}

.markdown a {
    cursor: pointer;
    color: #C9CACC;
}

.markdown pre {
    background-color: #30343a;
    color: #C9CACC;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

.markdown a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #D480AA;
}